<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te21 centrerad layout</title>
    <link rel="stylesheet" href="/layout/css/style.css">
    <link rel="stylesheet" href="/layout/css/brand.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet"> 
</head>
<body>
    
    <nav class="container">
        <a href="/layout/index.html" class="logo">
            Slugrain
        </a>
        <ul>
            <li><a href="/layout/index.html">Hem</a></li>
            <li><a href="/readme.md">Om</a></li>
            <li><a href="/layout/img/Battle card BOOOSTER PACK Unit - Axe boyo.png">/I</a></li>
        </ul>
    </nav>

    <main class="container">
        <article>
            <header class="hero">
                <img src="https://picsum.photos/1280/730" alt="Slumpbild">
                <h1>
                    <img src="/layout/img/101025.png" alt="logo">
                    Slugrain
                </h1>
            </header>
            <h2>
                Underrubrik
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate assumenda, a, perferendis dicta quod sint nihil omnis suscipit accusantium sed quos totam nemo sapiente iste neque quia laborum vel explicabo?</p>
            <p>Doloribus, atque consequatur iure repellendus numquam consectetur asperiores amet perferendis delectus autem optio nam, officiis explicabo, adipisci deleniti dolorem ducimus nisi suscipit ipsam animi commodi? Quis vel eligendi voluptatem corrupti?</p>
            <p>Doloribus, praesentium ea! Amet commodi illum facere ullam ratione fugit soluta consectetur esse quos, totam ut? Dolore modi perferendis dolorem, doloribus in assumenda quisquam ea. Facere vero saepe odit. Itaque!</p>

        </article>
    </main>

    <footer class="container">
        <p>Innehållet är mitt &copy; 2022</p>
    </footer>

</body>
</html>